* {
    box-sizing: border-box;
}

@font-face {
    font-family: Barlow Semi Condensed;
    src: url("./public/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Medium.ttf");
    font-weight: normal;
}

:root{
    /* Primary */
    --primary-purple-50: hsl(260, 100%, 95%);
    --primary-purple-300: hsl(264, 82%,80%);
    --primary-purple-500: hsl(263,55%,52%);
    /* Neutral */
    --neutral-white: hsl(0,0%,100%);
    --neutral-gray-100: hsl(214,17%,92%);
    --neutral-gray-200:hsl(0,0%,81%);
    --neutral-gray-400:hsl(224,10%,45%);
    --neutral-gray-500:hsl(217,19%,35%);
    --neutral-dark-blue:hsl(219,29%,14%);
    --neutral-black:hsl(0,0%,7%);
    /* Typography */
    --font-size: 13px;
    --font-family: Barlow Semi Condensed, sans-serif;
    --font-weight-normal: 500;
    --font-weight-bold: 600;
}

html{
    max-width: 100vw;
    font-size: var(--font-size);
    font-family: var(--font-family), sans-serif;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-color: var(--neutral-gray-100);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 700px) {
    .testimonials-container {
        display: grid;
        grid-template-areas:
   "daniel daniel jonathan kira"
   "jeanette patrick patrick kira";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media (max-width: 700px){
    .testimonials-container{
        display: flex;
        flex-direction: column;
    }
}

.testimonials-container{
    width: auto;
    max-width: 1200px;
    margin: 5rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.testimonial {
    border-radius: .8rem;
    box-shadow: #BFBFBF 1rem 1.5rem 40px ;
    height: 100%;
    width: 100%;
    padding: 2.5rem 2rem;
    display: flex;
    flex-direction: column;
    color: var(--neutral-gray-200);
}
.testimonial img {
    border-radius: 50%;
}

#daniel{
    background-color: var(--primary-purple-500);
    grid-area: daniel;
}
@media (min-width: 700px) {
    #daniel{
        background-image: url("./public/bg-pattern-quotation.svg");
        background-repeat: no-repeat;
        background-position: 90% 0;
    }
}

#jonathan{
    background-color: var(--neutral-gray-500);
    grid-area: jonathan;
}
#patrick{
    background-color: var(--neutral-black);
    grid-area: patrick;
}
#jeanette{
    grid-area: jeanette;
    color: var(--neutral-gray-400);
}
#kira{
    grid-area: kira;
    color: var(--neutral-gray-400);
}

.t-head{
display: flex;
    flex-direction: row;
    width: 100%;
    height: 4rem;
    gap: 1rem;
}

.t-person{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: .5rem;
}

p{
    margin: 0;
    padding: 0;
}

.name{
    font-size: 16px;
}
.status{
    font-size: 13px;
}

.t-content{
    display: flex;
    flex-direction: column;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: var(--neutral-black);
    transition: color linear .3s;
}
footer a:hover {
    text-decoration: underline;
    color: blue;
}